@charset "UTF-8";

/*style do index1*/
body {  
    background-image: url(img/fundo.jpg);
    display: flex;  
    flex-wrap: wrap;  
    justify-content: center;  
    padding: 20px;  
    background-color: rgba(85, 83, 80, 0.473);  
    background-attachment: fixed;  
    background-size: cover;  
    background-position: center;  
    align-items: center;  
    height: 100vh;  
    margin: 0;  
    font-family: Arial, sans-serif;  
}

h1, h2 {  
    color: white;
    text-align: center;  
    padding: 20px;  
    text-shadow: 1px 1px 8px black;
}  

.principal {  
    text-align: center;  
}  

.botton {  
    background-color: purple;   
    color: white;
    border: none;  
    padding: 10px 20px;  
    border-radius: 5px;  
    cursor: pointer;  
    font-size: 16px;  
    margin: 5px;  
    box-shadow: 1px 1px 8px black;
}  

/*style do index2*/

.container {  
    border-radius: 5px;  
    padding: 10px;  
    margin: 2px;  
    display: flex;
    justify-content: center;  
    flex-wrap: wrap;  
    align-items: center;  
    backdrop-filter: blur(7px);  
    row-gap: 70px;
}  

.box {  
    height: 400px;  
    margin: 10px;  
    border-radius: 2px;  
    display: flex;  
    align-items: flex-start;  
    justify-content: center;  
    position: relative;  
    overflow: hidden;  
    cursor: pointer;  
    transition: transform 0.3s;  
}  

.box img {  
    border-radius: 3%;
    margin-left: 2px;
    width: 400px;  
    height: 400px;  
    object-fit: cover;  
}  

/*número no alto da imagem*/
.number {  
    position: absolute;  
    top: 10px;  
    left: 10px;  
    background-color: rgba(187, 180, 180, 0.7);  
    padding: 5px 10px;  
    border-radius: 5px;  
    font-size: 1.5rem;  
    font-weight: bold;  
}  

/*efeito do zoom*/
.zoom {  
    transform: scale(1.3);  
    z-index: 10;  
}  

/*rodapé*/
footer {  
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
    background-color: #333; 
    width: 100%; 
    color: white;  
    margin: 2%;  
    text-align: center;  
}  

/* style do primeiro card*/
.caixa .card {
    width: 400px; /* Define uma largura fixa para o cartão */
    height: 400px; /* Define uma altura fixa para o cartão */
    perspective: 0px; /*faz com que o face2 fique atras do face1*/
}

.caixa .card .face1 {
    position: relative;
    z-index: 10;
    transition: 0.9s;
}

.caixa .card:hover .face1 {
    background: #ff005580;
    transform: translateY(-5px);
}

.caixa .card .face1 .icon img {
    border-radius: 5px;
    width: 400px; /* Define a largura desejada para a imagem */
    height: 400px; /* Define a altura desejada para a imagem */
}

.caixa .card .face2 {
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #8d8b8ba9;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Alinha o conteúdo ao fundo */
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.8);
    transform: translateY(-0%); /* esconde o face2 atras do face1 */
    transition: 0.5s;
}

.caixa .card:hover .face2 {
    transform: translateY(70px); /* Quando passa o mouse, desce */
}

.caixa .card .face2 .content {
    width: 100%;
    text-align: center; /* Opcional: centraliza o conteúdo horizontalmente */
}

.caixa .card .face2 button {
    padding: 10px 20px;
    background-color: #ff0057;
    color: white;
    text-wrap: wrap;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.caixa .card .face2 button:hover {
    border-bottom: 5px solid #333;
    background-color: #e6004b; /* Cor mais escura ao passar o mouse */
}